@use 'mixins/adaptive-font' as *;
@use './chunk/burger-menu';

.logo {
	display: flex;
	align-items: center;

	&__img {
		max-width: 200px;
	}
}

.menu {
	position: relative;
	display: flex;
	align-items: center;

	&__body {
		&--mobile {
			position: fixed;
			left: -100%;
			top: 0;
			z-index: 5;
			overflow: auto;
			padding: 100px 30px 30px;
			width: 100%;
			height: 100vh;
			background-color: var(--accent-color);
			transition: left 0.3s;
		}

		&--active {
			left: 0;
		}
	}

	&__list {
		display: flex;
		align-items: center;
		gap: 15px;

		&--mobile {
			flex-direction: column;
		}
	}

	&__link {
		line-height: 1;
		transition: opacity var(--time);
		@include adaptive-font(22, 18);

		&:hover {
			opacity: 0.5;
		}
	}
}

.section-header {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: space-between;
	margin-bottom: 40px;
	gap: 20px 10px;

	&__text {
		margin: 0;
		width: 100%;
		max-width: 49%;
		font-weight: 200;
		line-height: 1;
		@include adaptive-font(22, 18);
	}

	&--column {
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		gap: 40px;
	}

	@media (max-width: 576px) {
		flex-direction: column;
		align-items: flex-start;
	}
}

.headlines {
	&__title {
		margin: 0;
		margin-bottom: 5px;
		font-family: var(--font-manege);
		font-weight: 300;
		line-height: 1;
		@include adaptive-font(48, 26);
	}

	&__subtitle {
		margin: 0;
		font-weight: 300;
		line-height: 1;
		@include adaptive-font(48, 26);
	}
}

.link {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid var(--light-gray-color);
	border-radius: 30px;
	padding: 10px 15px;
	width: fit-content;
	background-color: var(--light-gray-color);
	transition: filter var(--time);
	gap: 10px;

	& span {
		line-height: 1;
		transition: opacity var(--time);
		@include adaptive-font(22, 18);
	}

	&__arrow {
		position: relative;
		border-radius: 100%;
		width: 20px;
		height: 20px;
		background-color: var(--accent-color);

		&::after {
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			border: 1px solid var(--light-color);
			border-top: none;
			border-left: none;
			width: 7px;
			height: 7px;
			transform: translate(-65%, -50%) rotate(-45deg);
		}
	}

	&:hover {
		filter: brightness(0.8);

		& span {
			opacity: 0.75;
		}
	}

	&--bg-transparent {
		background-color: transparent;
	}

	@media (max-width: 576px) {
		padding: 20px;
		width: 100%;
	}
}
