// * Максимальная и минимальная ширина макета
$container-width: 1415;
$mobile-width: 375;

:root {
	// * Цвета
	--dark-color: #000;
	--light-color: #fff;
	--gray-color: #ccc;
	--light-gray-color: #f8f8f8;
	--border-color: #f1f1f1;
	--accent-color: #be9d64;
	--error-color: #f06464;

	// * Шрифты
	--font-gothic: 'CoFoGothic', sans-serif;
	--font-manege: 'Manege', sans-serif;
	--line-height: 1.2;

	// * Визуал
	--time: 0.2s;
	--radius: 15px;

	// * Медиа бургера
	--mobile-width: 768;
}
