@use 'mixins/adaptive-font' as *;

.about {
	&__wrap {
		display: flex;
		gap: 20px;

		@media (max-width: 1200px) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	&__img {
		display: flex;
		margin-right: -30px;

		@media (max-width: 1200px) {
			margin: 0;
		}
	}
}

.about-question {
	display: flex;
	flex-direction: column;
	gap: 25px;

	&__text {
		margin: 0;
		font-weight: 200;
		font-size: 32px;
		line-height: 1;
	}
}

.quiz {
	display: flex;
	flex-direction: column;
	gap: 20px;
	border-radius: 32px;
	padding: 25px;
	box-shadow: 0 0 25px 0 rgb(184 203 229 / 40%);
	background-color: var(--light-color);

	&__title {
		font-weight: 200;
		line-height: 1;
		@include adaptive-font(32, 28);
	}

	@media (max-width: 576px) {
		padding: 20px;
	}
}

.quiz-questions {
	display: flex;
	justify-content: space-between;
	width: 100%;
	gap: 10px;

	&__item {
		display: flex;
		border: 1px solid var(--light-gray-color);
		border-radius: 30px;
		padding: 10px 14px;
		gap: 10px;

		&--active {
			background-color: var(--light-gray-color);

			.quiz-questions__radio::after {
				opacity: 1;
			}
		}
	}

	&__radio {
		position: relative;
		border: 1px solid var(--accent-color);
		border-radius: 50%;
		width: 20px;
		height: 20px;

		/* stylelint-disable-next-line no-descending-specificity */
		&::after {
			content: '';
			position: absolute;
			right: 50%;
			top: 50%;
			border-radius: 50%;
			width: 14px;
			height: 14px;
			background-color: var(--accent-color);
			opacity: 0;
			transform: translate(50%, -50%);
			transition: opacity var(--time);
		}
	}

	&__answer {
		font-weight: 200;
		font-size: 22px;
		line-height: 1;
	}

	&__text {
		margin: 0;
		border-radius: 24px;
		padding: 14px 24px;
		font-weight: 200;
		line-height: 1;
		background: var(--light-gray-color);
		@include adaptive-font(22, 18);

		@media (max-width: 576px) {
			padding: 12px 15px;
		}
	}

	@media (max-width: 768px) {
		gap: 5px;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
}
