@use 'mixins/adaptive-font' as *;

.footer {
	border-radius: 25px 25px 0 0;
	font-weight: 300;
	line-height: 1;
	color: var(--light-color);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	@include adaptive-font(22, 18);

	&__wrap {
		display: flex;
		justify-content: space-between;
		padding: 30px 0 65px;
		gap: 50px 20px;

		@media (max-width: 768px) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}

		@media (max-width: 576px) {
			display: grid;
			grid-template-columns: 1fr;
			padding: 30px 0;
		}
	}

	&__column {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 40px;
		max-width: 25%;

		&:last-child {
			align-items: flex-end;
		}

		@media (max-width: 768px) {
			max-width: 100%;

			&:nth-child(even) {
				align-items: flex-end;
			}
		}

		@media (max-width: 576px) {
			&:nth-child(even) {
				align-items: flex-start;
			}
		}
	}

	&__inner {
		display: flex;
		flex-direction: column;

		@media (max-width: 768px) {
			margin-top: auto;
		}
	}

	&__copyright {
		@include adaptive-font(22, 18);
	}

	&__menu {
		& .menu__list {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	&__title {
		margin-bottom: 15px;

		&--align-right {
			text-align: right;

			@media (max-width: 576px) {
				text-align: left;
			}
		}
	}

	&__address {
		max-width: 220px;
		font-style: normal;
	}

	&__phone,
	&__mail {
		text-align: right;

		@media (max-width: 576px) {
			text-align: left;
		}
	}

	&__links {
		text-align: right;

		@media (max-width: 576px) {
			text-align: left;
		}
	}

	&__link {
		transition: opacity var(--time);

		&:hover {
			opacity: 0.7;
		}
	}
}
