.header {
	position: static;
	z-index: 10;
	width: 100%;
	background-color: var(--light-color);

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 25px;
		padding-bottom: 25px;
	}

	&__menu {
		width: 100%;
	}

	.menu__body {
		width: 100%;
	}

	.menu__list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}

	&--sticky {
		position: sticky;
		transition: top 0.3s;
	}
}
