@use 'mixins/adaptive-font' as *;

.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	gap: 15px;
	transform: translateX(0);

	&__title {
		margin: 0;
		font-family: var(--font-manege);
		font-weight: 300;
		font-style: normal;
		line-height: 1;
		text-align: center;
		color: var(--dark-color);
		@include adaptive-font(110, 45);
	}

	&__image {
		width: 100%;
		height: 15px;
	}

	&__text {
		margin: 0;
		font-weight: 300;
		line-height: 1;
		text-align: center;
		color: var(--dark-color);
		@include adaptive-font(110, 45);
	}
}
