.news {
	&__cards {
		display: grid;
		justify-content: space-evenly;
		grid-template-columns: repeat(auto-fit, minmax(330px, 330px));
		gap: 20px;
	}
}

.news-card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 15px;

	&__date {
		font-size: 16px;
		line-height: 1;
		opacity: 0.4;
	}

	&__title {
		margin: 0;
		font-weight: 300;
		font-size: 22px;
		line-height: 1;
	}

	&__text {
		margin: 0;
		font-weight: 300;
		font-size: 16px;
		line-height: 1;
	}

	&__link {
		justify-content: center;
	}
}
