.team {
	&__slider {
		overflow: visible !important;
	}

	&__link {
		margin-bottom: 40px;
	}

	&__inner {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin-top: 40px;
		gap: 20px;

		@media (max-width: 576px) {
			flex-direction: column-reverse;
			align-items: flex-start;
		}
	}

	&__arrows {
		display: flex;
		gap: 10px;
		align-items: center;
	}
}

.team-slide {
	max-width: 215px;

	&__inner {
		position: relative;
		display: flex;
		margin-bottom: 8px;
	}

	&__img {
		/* stylelint-disable-next-line no-descending-specificity */
		&--hover {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			visibility: hidden;
			transition:
				opacity var(--time),
				visibility var(--time);
		}
	}

	&__title {
		margin: 0;
		margin-bottom: 2px;
		font-weight: 300;
		font-size: 16px;
		line-height: 1;
	}

	&__text {
		font-size: 12px;
		line-height: 1.3;
	}

	&:hover {
		& .team-slide__img--hover {
			opacity: 1;
			visibility: visible;
		}
	}
}
