@use 'mixins/adaptive-font' as *;

.team {
	&__slider {
		overflow: visible !important;
	}

	&__cards {
		display: grid;
		justify-content: space-evenly;
		grid-template-columns: repeat(auto-fit, minmax(215px, 215px));
		gap: 60px 65px;
	}

	&__link {
		margin-bottom: 40px;
	}

	&__inner {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin-top: 40px;
		gap: 20px;

		@media (max-width: 576px) {
			flex-direction: column-reverse;
			align-items: flex-start;
		}
	}

	&__arrows {
		display: flex;
		gap: 10px;
		align-items: center;
	}
}

.team-card {
	max-width: 215px;

	&__inner {
		position: relative;
		display: flex;
		margin-bottom: 8px;
	}

	&__img {
		/* stylelint-disable-next-line no-descending-specificity */
		&--hover {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			visibility: hidden;
			transition:
				opacity var(--time),
				visibility var(--time);
		}
	}

	&__title {
		margin: 0;
		margin-bottom: 2px;
		font-weight: 300;
		font-size: 16px;
		line-height: 1;
	}

	&__text {
		font-size: 12px;
		line-height: 1.3;
	}

	&:hover {
		& .team-card__img--hover {
			opacity: 1;
			visibility: visible;
		}
	}
}

.single-team {
	display: flex;
	padding-top: 100px;
	gap: 20px;

	&__content {
		flex-shrink: 0;
		max-width: 680px;

		@media (max-width: 1200px) {
			max-width: 460px;
		}

		@media (max-width: 992px) {
			max-width: 100%;
		}
	}

	&__title {
		margin: 0;
		margin-bottom: 20px;
		font-weight: 300;
		line-height: 1;
		@include adaptive-font(48, 26);
	}

	&__descr {
		margin: 0;
		margin-bottom: 20px;
		font-weight: 300;
		line-height: 1;
		@include adaptive-font(22, 18);
	}

	&__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 45px;
		gap: 60px;

		@media (max-width: 1200px) {
			gap: 30px;
		}

		@media (max-width: 992px) {
			gap: 30px 60px;
		}
	}

	&__text {
		margin: 0;
		margin-bottom: 20px;
		line-height: 1;
		@include adaptive-font(22, 18);
	}

	&__img {
		max-width: 680px;
	}

	@media (max-width: 992px) {
		flex-direction: column-reverse;
		align-items: center;
	}
}

.team-languages {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 345px;
	gap: 20px;

	&__title {
		margin: 0;
		font-weight: 300;
		line-height: 1;
		@include adaptive-font(22, 20);
	}
}

.team-contacts {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-right: auto;
	gap: 10px;

	&__phone {
		font-weight: 300;
		line-height: 1;
		transition: opacity var(--time);
		@include adaptive-font(22, 18);

		&:hover {
			opacity: 0.7;
		}
	}

	&__mail {
		font-weight: 300;
		line-height: 1;
		color: var(--accent-color);
		transition: opacity var(--time);
		@include adaptive-font(22, 18);

		&:hover {
			opacity: 0.7;
		}
	}
}

.team-specializations {
	margin-bottom: 65px;

	@media (max-width: 576px) {
		margin-bottom: 40px;
	}
}
