<section class="section">
	<div class="container">

		<div class="about">

			<div class="about__wrap">
				<div class="about__content">
					<div class="section-header section-header--column">
						<div class="headlines">
							<h2 class="headlines__title">
								Asari Legal.
							</h2>
							<h3 class="headlines__subtitle">
								Объединяем стратегию, экспертизу и вдохновение.
							</h3>
						</div>
						<a class="link link--bg-transparent link-reset" href="#">
							<span>О нас</span>
							<div class="link__arrow"></div>
						</a>
					</div>

					<div class="about-question">
						<p class="about-question__text">
							Знаете ли вы, что значит Asari?
						</p>

						<div class="quiz">
							<span class="quiz__title">
								Варианты ответа
							</span>
							<div class="quiz-questions">
								<div class="quiz-questions__item quiz-questions__item--active">
									<span class="quiz-questions__radio"></span>
									<span class="quiz-questions__answer">Шедевр</span>
								</div>
								<div class="quiz-questions__item">
									<span class="quiz-questions__radio"></span>
									<span class="quiz-questions__answer">Свет</span>
								</div>
								<div class="quiz-questions__item">
									<span class="quiz-questions__radio"></span>
									<span class="quiz-questions__answer">Семья</span>
								</div>
								<div class="quiz-questions__item">
									<span class="quiz-questions__radio"></span>
									<span class="quiz-questions__answer">Лев</span>
								</div>
								<div class="quiz-questions__item">
									<span class="quiz-questions__radio"></span>
									<span class="quiz-questions__answer">Сталь</span>
								</div>
							</div>

							<p class="quiz-questions__text">
								На тюркских языках Asari означает «шедевер, произведение»
							</p>
						</div>
					</div>
				</div>

				<div class="about__img">
					<img src="@img/about/img.webp" alt="Зеркало в воде">
				</div>
			</div>

		</div>

	</div>
</section>