<section class="section">
	<div class="container">

		<div class="about">

			<div class="about__wrap">
				<div class="about__content">
					<div class="section-header section-header--column">
						<div class="headlines">
							<h2 class="headlines__title">
								Asari Legal
							</h2>
							<h3 class="headlines__subtitle">
								Объединяем стратегию, экспертизу и вдохновение
							</h3>
						</div>
						<a class="link link--bg-transparent link-reset" href="#">
							<span>О нас</span>
							<div class="link__arrow"></div>
						</a>
					</div>

					<div class="about-question">
						<p class="about-question__text">
							Знаете ли вы, что значит Asari?
						</p>

						<div class="quiz">
							<span class="quiz__title">Варианты ответа</span>
							<div class="quiz-questions">
								<div class="quiz-questions__item"
									data-text="На тюркских языках слово «Asari» означает «шедевр, произведение».">
									<span class="quiz-questions__radio"></span>
									<span class="quiz-questions__answer">Шедевр</span>
								</div>
								<div class="quiz-questions__item"
									data-text="В арабском языке «Asar» имеет значение «эффект», а также «след» и «отпечаток».">
									<span class="quiz-questions__radio"></span>
									<span class="quiz-questions__answer">Эффект</span>
								</div>
								<div class="quiz-questions__item"
									data-text="«Асар» — это древний казахский обычай; в переводе на русский язык означает «всем миром». Главная его цель — коллективная взаимопомощь.">
									<span class="quiz-questions__radio"></span>
									<span class="quiz-questions__answer">Всем миром</span>
								</div>
							</div>

							<p class="quiz-questions__text">
							</p>
						</div>

					</div>
				</div>

				<div class="about__img">
					<img src="@img/about/img.webp" alt="Зеркало в воде">
				</div>
			</div>

		</div>

	</div>
</section>