<section class="section">
	<div class="container">
		<h2 class="title">
			О нас
		</h2>
		<div class="about-cards">
			<div class="about-card">
				<div class="about-card__img">
					<img src="@img/about/icon-1.webp" alt="Иконка">
				</div>
				<h3 class="about-card__title">
					Первопроходцы
				</h3>
				<p class="about-card__text">
					Ведем наиболее сложные российские и трансграничные проекты, помогая доверителям достигать стратегических целей
				</p>
			</div>
			<div class="about-card">
				<div class="about-card__img">
					<img src="@img/about/icon-1.webp" alt="Иконка">
				</div>
				<h3 class="about-card__title">
					Первопроходцы
				</h3>
				<p class="about-card__text">
					Ведем наиболее сложные российские и трансграничные проекты, помогая доверителям достигать стратегических целей
				</p>
			</div>
			<div class="about-card">
				<div class="about-card__img">
					<img src="@img/about/icon-1.webp" alt="Иконка">
				</div>
				<h3 class="about-card__title">
					Первопроходцы
				</h3>
				<p class="about-card__text">
					Ведем наиболее сложные российские и трансграничные проекты, помогая доверителям достигать стратегических целей
				</p>
			</div>
		</div>
	</div>
</section>