<section class="section">
	<div class="container">
		<div class="admins">
			<div class="section-header">
				<div class="headlines">
					<h2 class="headlines__title admins__title">
						Неординарность интеллектуальных решений
					</h2>
					<h3 class="headlines__subtitle">
						на всех уровнях
					</h3>
				</div>
			</div>

			<div class="admins__slider swiper">
				<div class="swiper-wrapper">
					<div class="admin-card swiper-slide">
						<div class="admin-card__img">
							<img src="@img/admins/img-1.webp" alt="">
						</div>
						<div class="admin-card__inner">
							<div class="admin-card__texts">
								<h4 class="admin-card__title">
									Антон Конарев
								</h4>
								<span class="admin-card__post">
									Директор ИТ
								</span>
							</div>
							<div class="admin-card__info">
								<p class="admin-card__text">
									Руководитель административного блока и советник Asari Legal, солиситор (Англия и Уэльс),
									специализируется в
									международном публичном и частном праве, а также на разрешении споров в международном инвестиционном и
									коммерческом
									арбитраже...
								</p>
								<a class="link link--bg-transparent link-reset" href="#/">
									Читать полностью
								</a>
							</div>
						</div>
					</div>

					<div class="admin-card swiper-slide">
						<div class="admin-card__img">
							<img src="@img/admins/img-2.webp" alt="">
						</div>
						<div class="admin-card__inner">
							<div class="admin-card__texts">
								<h4 class="admin-card__title">
									Антон Конарев
								</h4>
								<span class="admin-card__post">
									Директор ИТ
								</span>
							</div>
							<div class="admin-card__info">
								<p class="admin-card__text">
									Руководитель административного блока и советник Asari Legal, солиситор (Англия и Уэльс),
									специализируется в
									международном публичном и частном праве, а также на разрешении споров в международном инвестиционном и
									коммерческом
									арбитраже...
								</p>
								<a class="link link--bg-transparent link-reset" href="#/">
									Читать полностью
								</a>
							</div>
						</div>
					</div>

					<div class="admin-card swiper-slide">
						<div class="admin-card__img">
							<img src="@img/admins/img-3.webp" alt="">
						</div>
						<div class="admin-card__inner">
							<div class="admin-card__texts">
								<h4 class="admin-card__title">
									Антон Конарев
								</h4>
								<span class="admin-card__post">
									Директор ИТ
								</span>
							</div>
							<div class="admin-card__info">
								<p class="admin-card__text">
									Руководитель административного блока и советник Asari Legal, солиситор (Англия и Уэльс),
									специализируется в
									международном публичном и частном праве, а также на разрешении споров в международном инвестиционном и
									коммерческом
									арбитраже...
								</p>
								<a class="link link--bg-transparent link-reset" href="#/">
									Читать полностью
								</a>
							</div>
						</div>
					</div>

					<div class="admin-card swiper-slide">
						<div class="admin-card__img">
							<img src="@img/admins/img-4.webp" alt="">
						</div>
						<div class="admin-card__inner">
							<div class="admin-card__texts">
								<h4 class="admin-card__title">
									Антон Конарев
								</h4>
								<span class="admin-card__post">
									Директор ИТ
								</span>
							</div>
							<div class="admin-card__info">
								<p class="admin-card__text">
									Руководитель административного блока и советник Asari Legal, солиситор (Англия и Уэльс),
									специализируется в
									международном публичном и частном праве, а также на разрешении споров в международном инвестиционном и
									коммерческом
									арбитраже...
								</p>
								<a class="link link--bg-transparent link-reset" href="#/">
									Читать полностью
								</a>
							</div>
						</div>
					</div>

					<div class="admin-card swiper-slide">
						<div class="admin-card__img">
							<img src="@img/admins/img-5.webp" alt="">
						</div>
						<div class="admin-card__inner">
							<div class="admin-card__texts">
								<h4 class="admin-card__title">
									Антон Конарев
								</h4>
								<span class="admin-card__post">
									Директор ИТ
								</span>
							</div>
							<div class="admin-card__info">
								<p class="admin-card__text">
									Руководитель административного блока и советник Asari Legal, солиситор (Англия и Уэльс),
									специализируется в
									международном публичном и частном праве, а также на разрешении споров в международном инвестиционном и
									коммерческом
									арбитраже...
								</p>
								<a class="link link--bg-transparent link-reset" href="#/">
									Читать полностью
								</a>
							</div>
						</div>
					</div>

					<div class="admin-card swiper-slide">
						<div class="admin-card__img">
							<img src="@img/admins/img-6.webp" alt="">
						</div>
						<div class="admin-card__inner">
							<div class="admin-card__texts">
								<h4 class="admin-card__title">
									Антон Конарев
								</h4>
								<span class="admin-card__post">
									Директор ИТ
								</span>
							</div>
							<div class="admin-card__info">
								<p class="admin-card__text">
									Руководитель административного блока и советник Asari Legal, солиситор (Англия и Уэльс),
									специализируется в
									международном публичном и частном праве, а также на разрешении споров в международном инвестиционном и
									коммерческом
									арбитраже...
								</p>
								<a class="link link--bg-transparent link-reset" href="#/">
									Читать полностью
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>