<section class="section">
	<div class="container">

		<div class="about">

			<div class="career__wrap">
				<div class="career__content">
					<div class="section-header section-header--column">
						<div class="headlines">
							<h2 class="headlines__title">
								Наши люди
							</h2>
						</div>
						<a class="link link--bg-transparent link-reset" href="#">
							<span>Карьера</span>
							<div class="link__arrow"></div>
						</a>
					</div>

					<div class="career__inner">
						<div class="career__texts">
							<p class="career__text">
								О нас говорят – «интеллектуальный
								юридический спецназ»
							</p>
							<p class="career__text">
								Объединяем экспертов, увлеченных сложными амбициозными задачами
							</p>
						</div>

						<div class="career__texts">
							<p class="career__text">
								Проектируем комплексные стратегии, выходящие за рамки привычного
							</p>
							<p class="career__text">
								Реализуем нестандартные проекты, делаем это быстро и эффективно
							</p>
						</div>
					</div>
				</div>

				<div class="career__slider swiper">
					<img src="@img/career/img-1.webp" alt="Сотрудники">
				</div>
			</div>

		</div>

	</div>
</section>