<section class="section section--conditions">
	<div class="conditions">
		<div class="container">
			<ul class="conditions__list list-reset">
				<li class="conditions__item">
					<h3 class="conditions__title">
						Сопровождение 360°
					</h3>
					<p class="conditions__text">
						Мы оказываем комплексную поддержку доверителям на всех этапах сделок, включая планирование и
						структурирование,
						проведение комплексной юридической проверки, подготовку документации, координацию закрытия и контроль
						исполнения
						обязательств после закрытия сделки.
					</p>
				</li>

				<li class="conditions__item">
					<h3 class="conditions__title">
						Наши возможности
					</h3>
					<p class="conditions__text">
						Портфолио наших сделок включает крупнейшие корпоративные сделки в новейшей истории России, а также сделки,
						структурированные по иностранному праву и в иностранных юрисдикциях. Мы также работаем с венчурными сделками
						в передовые
						компании и стартапы.
					</p>
				</li>

				<li class="conditions__item">
					<h3 class="conditions__title">
						Работаем с лидерами
					</h3>
					<p class="conditions__text">
						Доверители практики – российские и международные компании, лидеры таких отраслей, как нефть и газ,
						финансовый сектор,
						транспорт и логистика, IT & TMT, и др.
					</p>
				</li>
			</ul>
		</div>
	</div>
</section>