<section class="section">
	<div class="container">
		<div class="conventors">

			<div class="conventors__wrap">
				<div class="conventors__inner">
					<div class="section-header section-header--column section-header--gap-20">
						<div class="headlines">
							<h2 class="headlines__title">
								Наши доверители —
							</h2>
							<h3 class="headlines__subtitle">
								Отражение наших идей
							</h3>
						</div>
						<p class="conventors__text">
							Работаем с лидерами экономических
							отраслей в России и за рубежом
						</p>
					</div>
					<div class="conventors-links">
						<a class="conventors-links__item link-reset" href="#"
							data-img="@img/about/conventors-img.webp">Энергетика</a>
						<a class="conventors-links__item link-reset" href="#" data-img="@img/about/icon-1.webp">Энергетика</a>
						<a class="conventors-links__item link-reset" href="#" data-img="@img/about/img.webp">Энергетика</a>
					</div>
				</div>

				<div class="conventors__img">
				</div>
			</div>
		</div>
	</div>
</section>