<section class="section">
	<div class="container">
		<div class="expertise">
			<div class="section-header">
				<div class="headlines">
					<h2 class="headlines__title">
						Каждая задача многогранна.
					</h2>
					<h3 class="headlines__subtitle">
						Каждый проект уникален.
					</h3>
				</div>
				<a class="link link--bg-transparent link-reset" href="/page-expertise.html">
					<span>Экспертиза</span>
					<div class="link__arrow"></div>
				</a>
			</div>
			<div class="expertise__cards">
				<a class="expertise-card link-reset" href="#/">
					<div class="expertise-card__img">
						<img src="@img/expertise/img-1.webp" alt="">
					</div>
					<h4 class="expertise-card__title">
						Разрешение <br>споров
					</h4>
					<div class="expertise-card__inner"
						style="background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('@img/expertise/img-1.webp');">
						<h4 class="expertise-card__title">
							Разрешение <br>споров
						</h4>
						<ul class="expertise-card__list list-reset">
							<li class="expertise-card__item">
								Консультирование по санкционным вопросам
							</li>
							<li class="expertise-card__item">
								Разрешение споров в связи с санкциями
							</li>
							<li class="expertise-card__item">
								Консультирование по санкционным вопросам
							</li>
						</ul>
					</div>
				</a>
				<a class="expertise-card link-reset" href="#/">
					<div class="expertise-card__img">
						<img src="@img/expertise/img-2.webp" alt="">
					</div>
					<h4 class="expertise-card__title">
						Санкционная <br>практика
					</h4>
				</a>
				<a class="expertise-card link-reset" href="#/">
					<div class="expertise-card__img">
						<img src="@img/expertise/img-3.webp" alt="">
					</div>
					<h4 class="expertise-card__title">
						Регуляторная <br>практика
					</h4>
				</a>
				<a class="expertise-card link-reset" href="#/">
					<div class="expertise-card__img">
						<img src="@img/expertise/img-4.webp" alt="">
					</div>
					<h4 class="expertise-card__title">
						Корпоративное <br>право
					</h4>
				</a>
				<a class="expertise-card link-reset" href="#/">
					<div class="expertise-card__img">
						<img src="@img/expertise/img-5.webp" alt="">
					</div>
					<h4 class="expertise-card__title">
						Финансовая <br>практика
					</h4>
				</a>
				<a class="expertise-card link-reset" href="#/">
					<div class="expertise-card__img">
						<img src="@img/expertise/img-6.webp" alt="">
					</div>
					<h4 class="expertise-card__title">
						Финансовая <br>практика
					</h4>
				</a>
				<a class="expertise-card link-reset" href="#/">
					<div class="expertise-card__img">
						<img src="@img/expertise/img-7.webp" alt="">
					</div>
					<h4 class="expertise-card__title">
						Частные <br>клиенты
					</h4>
				</a>
				<a class="expertise-card link-reset" href="#/">
					<div class="expertise-card__img">
						<img src="@img/expertise/img-8.webp" alt="">
					</div>
					<h4 class="expertise-card__title">
						Уголовно-правовая <br>практика
					</h4>
				</a>
				<a class="expertise-card link-reset" href="#/">
					<div class="expertise-card__img">
						<img src="@img/expertise/img-9.webp" alt="">
					</div>
					<h4 class="expertise-card__title">
						Специальные ситуации <br>и антикризисный менеджмент
					</h4>
				</a>
				<a class="expertise-card link-reset" href="#/">
					<div class="expertise-card__img">
						<img src="@img/expertise/img-10.webp" alt="">
					</div>
					<h4 class="expertise-card__title">
						AI & Legal Tech
					</h4>
				</a>
				<a class="expertise-card link-reset" href="#/">
					<div class="expertise-card__img">
						<img src="@img/expertise/img-11.webp" alt="">
					</div>
					<h4 class="expertise-card__title">
						Практика <br>законотворчества
					</h4>
				</a>
			</div>
		</div>
	</div>
</section>