<section class="section">
	<div class="container">
		<div class="expirience">
			<div class="expirience__inner">
				<h3 class="expirience__title">
					Экспертная деятельность
				</h3>

				<div class="expirience__card">
					<div class="expirience__item">
						<span class="expirience__subtitle">
							Королевский институт арбитров (MСIArb)
						</span>
					</div>
					<div class="expirience__item">
						<span class="expirience__subtitle">
							Российская арбитражная ассоциация — вице-президент
						</span>
					</div>
					<div class="expirience__item">
						<span class="expirience__subtitle">
							Включён в список арбитров Арбитражного центра при Российском союзе промышленников и предпринимателей
							(РСПП)
						</span>
					</div>
					<div class="expirience__item">
						<span class="expirience__subtitle">
							Доцент факультета права Высшей школы экономики
						</span>
					</div>
					<div class="expirience__item">
						<span class="expirience__subtitle">
							Преподаёт студентам магистратуры курс
							«Международный инвестиционный арбитраж»
						</span>
					</div>
				</div>
			</div>

			<div class="expirience__inner">
				<h3 class="expirience__title">
					Образование
				</h3>

				<div class="expirience__card expirience__card--gap-big">
					<div class="expirience__item">
						<span class="expirience__subtitle">
							Школа права Нью-Йоркского Университета
						</span>
						<span class="expirience__text">
							Специальность – международное коммерческое регулирование, судопроизводство и арбитраж, магистр права,
							2012
						</span>
					</div>
					<div class="expirience__item">
						<span class="expirience__subtitle">
							Московская государственная юридическая академия
						</span>
						<span class="expirience__text">
							Специальность (уголовное право и криминология, уголовно-исполнительное право), к.ю.н., 2005
						</span>
					</div>
					<div class="expirience__item">
						<span class="expirience__subtitle">
							Московская государственная юридическая академия
						</span>
						<span class="expirience__text">
							Юридический факультет, специальность — юрист, диплом с отличием, 2002
						</span>
					</div>



				</div>
			</div>

		</div>
	</div>
</section>