<footer class="footer" style="background-image: url('@img/footer/bg.webp');">
	<div class="container">
		<div class="footer__wrap">
			<div class="footer__column">
				<a class="footer__logo logo" href="#/">
					<img class="logo__img" src="@img/footer/logo.webp" alt="Логотип">
				</a>

				<span class="footer__copyright">
					© 2025
				</span>
			</div>
			<div class="footer__column">
				<div class="footer__menu menu">
					<nav class="menu__body">
						<ul class="menu__list list-reset">
							<li class="menu__item">
								<a class="menu__link link-reset" href="#/">Главная</a>
							</li>
							<li class="menu__item">
								<a class="menu__link link-reset" href="#/">Экспертиза</a>
							</li>
							<li class="menu__item">
								<a class="menu__link link-reset" href="#/">Команда</a>
							</li>
							<li class="menu__item">
								<a class="menu__link link-reset" href="#/">Карьера</a>
							</li>
							<li class="menu__item">
								<a class="menu__link link-reset" href="#/">Новости</a>
							</li>
							<li class="menu__item">
								<a class="menu__link link-reset" href="#/">Контакты</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="footer__column">
				<div class="footer__inner">
					<span class="footer__title">
						Адрес:
					</span>
					<address class="footer__address">
						Россия, 127051, Москва, Цветной бульвар, дом 2, подъезд В, этаж 5
					</address>
				</div>
			</div>
			<div class="footer__column">
				<div class="footer__inner">
					<span class="footer__title footer__title--align-right">
						Связаться с нами:
					</span>
					<a class="footer__phone link-reset" href="tel:+7 (495) 139 93 00">
						+7 (495) 139 93 00
					</a>
					<a class="footer__mail link-reset" href="mailto:info@asari.legal">
						info@asari.legal
					</a>
				</div>
				<div class="footer__links">
					<a class="footer__link link-reset" href="#/">Политика конфиденциальности</a>
					<span>и</span><br>
					<a class="footer__link link-reset" href="#/">Пользовательское Соглашение</a>
				</div>
			</div>

		</div>
	</div>
</footer>