<header class="header">
	<div class="container header__container">
		<div class="header__menu menu">
			<button class="menu__burger burger btn-reset">
				<span class="burger__line"></span>
			</button>
			<nav class="menu__body">
				<ul class="menu__list list-reset">
					<li class="menu__item">
						<a class="menu__link link-reset" data-goto="">О нас</a>
					</li>
					<li class="menu__item">
						<a class="menu__link link-reset" data-goto="">Экспертиза</a>
					</li>
					<li class="menu__item">
						<a class="menu__link link-reset" data-goto="">Команда</a>
					</li>
					<div class="header__logo logo">
						<img class="logo__img" src="@img/header/logo.webp" alt="Логотип">
					</div>
					<li class="menu__item">
						<a class="menu__link link-reset" data-goto="">Карьера</a>
					</li>
					<li class="menu__item">
						<a class="menu__link link-reset" data-goto="">Новости</a>
					</li>
					<li class="menu__item">
						<a class="menu__link link-reset" data-goto="">Контакты</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>