<section class="section">
	<div class="container">
		<div class="news">
			<div class="section-header">
				<div class="headlines">
					<h2 class="headlines__title">
						Новости
					</h2>
				</div>
				<div class="section-header__inner">
					<div class="section-header__filters">
						<a class="section-header__filter section-header__filter--active link-reset" href="#/">
							Все
						</a>
						<a class="section-header__filter link-reset" href="#/">
							Новости
						</a>
						<a class="section-header__filter link-reset" href="#/">
							Мероприятия
						</a>
					</div>
				</div>
			</div>
			<div class="news__cards">
				<div class="news-card">
					<div class="news-card__img">
						<img src="@img/news/img-1.webp" alt="">
					</div>
					<span class="news-card__date">
						05 июня 2025 г
					</span>
					<h3 class="news-card__title">
						Илья Кожевников на конференции Право.ru
					</h3>
					<p class="news-card__text">
						В рамках мероприятия выступили ведущие специалисты в области антимонопольного регулирования...
					</p>
					<a class="news-card__link link link--bg-transparent link-reset" href="#/">
						<span>
							Читать полностью
						</span>
					</a>
				</div>
				<div class="news-card">
					<div class="news-card__img">
						<img src="@img/news/img-2.webp" alt="">
					</div>
					<span class="news-card__date">
						05 июня 2025 г
					</span>
					<h3 class="news-card__title">
						Илья Кожевников на конференции Право.ru
					</h3>
					<p class="news-card__text">
						В рамках мероприятия выступили ведущие специалисты в области антимонопольного регулирования...
					</p>
					<a class="news-card__link link link--bg-transparent link-reset" href="#/">
						<span>
							Читать полностью
						</span>
					</a>
				</div>
				<div class="news-card">
					<div class="news-card__img">
						<img src="@img/news/img-3.webp" alt="">
					</div>
					<span class="news-card__date">
						05 июня 2025 г
					</span>
					<h3 class="news-card__title">
						Илья Кожевников на конференции Право.ru
					</h3>
					<p class="news-card__text">
						В рамках мероприятия выступили ведущие специалисты в области антимонопольного регулирования...
					</p>
					<a class="news-card__link link link--bg-transparent link-reset" href="#/">
						<span>
							Читать полностью
						</span>
					</a>
				</div>
				<div class="news-card">
					<div class="news-card__img">
						<img src="@img/news/img-4.webp" alt="">
					</div>
					<span class="news-card__date">
						05 июня 2025 г
					</span>
					<h3 class="news-card__title">
						Илья Кожевников на конференции Право.ru
					</h3>
					<p class="news-card__text">
						В рамках мероприятия выступили ведущие специалисты в области антимонопольного регулирования...
					</p>
					<a class="news-card__link link link--bg-transparent link-reset" href="#/">
						<span>
							Читать полностью
						</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>