<section class="section">
	<div class="container">
		<div class="page-career">
			<div class="page-career__wrap">
				<h1 class="page-career__title">Карьерные перспективы</h1>

				<div class="page-career__texts">
					<div class="page-career__inner">
						<h2 class="page-career__subtitle">
							Ведем масштабные международные проекты
						</h2>
						<p class="page-career__text">
							Мы работаем с крупнейшими международными проектами, охватывающими несколько юрисдикций, и помогаем лидерам
							рынка решать
							сложнейшие задачи в сделках и спорах.
						</p>
					</div>

					<div class="page-career__inner">
						<h2 class="page-career__subtitle">
							Ведем масштабные международные проекты
						</h2>
						<p class="page-career__text">
							Мы работаем с крупнейшими международными проектами, охватывающими несколько юрисдикций, и помогаем лидерам
							рынка решать
							сложнейшие задачи в сделках и спорах.
						</p>
					</div>

					<div class="page-career__inner">
						<h2 class="page-career__subtitle">
							Ведем масштабные международные проекты
						</h2>
						<p class="page-career__text">
							Мы работаем с крупнейшими международными проектами, охватывающими несколько юрисдикций, и помогаем лидерам
							рынка решать
							сложнейшие задачи в сделках и спорах.
						</p>
					</div>
					<div class="page-career__inner">
						<h2 class="page-career__subtitle">
							Ведем масштабные международные проекты
						</h2>
						<p class="page-career__text">
							Мы работаем с крупнейшими международными проектами, охватывающими несколько юрисдикций, и помогаем лидерам
							рынка решать
							сложнейшие задачи в сделках и спорах.
						</p>
					</div>
					<div class="page-career__inner">
						<h2 class="page-career__subtitle">
							Ведем масштабные международные проекты
						</h2>
						<p class="page-career__text">
							Мы работаем с крупнейшими международными проектами, охватывающими несколько юрисдикций, и помогаем лидерам
							рынка решать
							сложнейшие задачи в сделках и спорах.
						</p>
					</div>
					<div class="page-career__inner">
						<h2 class="page-career__subtitle">
							Ведем масштабные международные проекты
						</h2>
						<p class="page-career__text">
							Мы работаем с крупнейшими международными проектами, охватывающими несколько юрисдикций, и помогаем лидерам
							рынка решать
							сложнейшие задачи в сделках и спорах.
						</p>
					</div>
				</div>

			</div>

			<div class="page-career__img">
				<img src="@img/career/img-1.webp" alt="Сотрудники">
			</div>
		</div>
	</div>
</section>