<section class="section">
	<div class="container">
		<div class="page-about">
			<div class="page-about__wrap">
				<p class="page-about__text">
					Защищаем интересы крупного бизнеса и частных клиентов в знаковых судебных спорах
				</p>
			</div>
			<div class="page-about__wrap">
				<p class="page-about__text">
					Консультируем по санкционным и регуляторным вопросам
				</p>
			</div>
			<div class="page-about__wrap">
				<p class="page-about__text">
					Сопровождаем комплексные корпоративные и финансовые сделки
				</p>
			</div>
		</div>
	</div>
</section>