<section class="section">
	<div class="container">
		<div class="ratings">
			<div class="section-header">
				<div class="headlines">
					<h2 class="headlines__title">
						Рейтинги
					</h2>
				</div>
			</div>

			<div class="ratings__cards">
				<div class="rating-card">
					<div class="rating-card__header">
						<h3 class="rating-card__title">
							Jus Mundi – Power List:
						</h3>
						<div class="rating-card__img">
							<img src="@img/ratings/img-1.webp" alt="Jus Mundi">
						</div>
					</div>
					<div class="rating-card__inner">
						<p class="rating-card__text">
							Top Male Arbitration Lawyers (Global)
						</p>
					</div>
				</div>
				<div class="rating-card">
					<div class="rating-card__header">
						<h3 class="rating-card__title">
							The Best Lawyers
						</h3>
						<div class="rating-card__img">
							<img src="@img/ratings/img-2.webp" alt="Jus Mundi">
						</div>
					</div>
					<div class="rating-card__inner">
						<p class="rating-card__text">
							Международный арбитраж и судебные споры
						</p>
					</div>
				</div>
				<div class="rating-card">
					<div class="rating-card__header">
						<h3 class="rating-card__title">
							Международный арбитраж и судебные споры
						</h3>
						<div class="rating-card__img">
							<img src="@img/ratings/img-3.webp" alt="Jus Mundi">
						</div>
					</div>
					<div class="rating-card__inner">
						<p class="rating-card__text">
							Arbitration Powerlist: CIS and Caucasus
						</p>
					</div>
				</div>
				<div class="rating-card">
					<div class="rating-card__header">
						<h3 class="rating-card__title">
							Право-300: «Международный арбитраж»,
						</h3>
						<div class="rating-card__img">
							<img src="@img/ratings/img-4.webp" alt="Jus Mundi">
						</div>
					</div>
					<div class="rating-card__inner">
						<ul class="rating-card__list list-reset">
							<li>
								<p class="rating-card__text">
									Арбитражное судопроизводство (Крупные споры - High market)
								</p>
							</li>
							<li>
								<p class="rating-card__text">
									Санкционное право
								</p>
							</li>
							<li>
								<p class="rating-card__text">
									Природные ресурсы
								</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="rating-card">
					<div class="rating-card__header">
						<h3 class="rating-card__title">
							Коммерсантъ:
						</h3>
						<div class="rating-card__img">
							<img src="@img/ratings/img-5.webp" alt="Jus Mundi">
						</div>
					</div>
					<div class="rating-card__inner">
						<ul class="rating-card__list list-reset">
							<li>
								<p class="rating-card__text">
									Разрешение коммерческих споров
								</p>
							</li>
							<li>
								<p class="rating-card__text">
									Международный коммерческий Арбитраж
								</p>
							</li>
							<li>
								<p class="rating-card__text">
									Энергетика и природные ресурсы
								</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="rating-card">
					<div class="rating-card__header">
						<h3 class="rating-card__title">
							PROбанкротство
						</h3>
						<div class="rating-card__img">
							<img src="@img/ratings/img-6.webp" alt="Jus Mundi">
						</div>
					</div>
					<div class="rating-card__inner">
						<p class="rating-card__text">
							Персональный рейтинг юристов
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>