<section class="section">
	<div class="container">
		<div class="services">
			<div class="section-header">
				<div class="headlines">
					<h2 class="headlines__title">
						Достигаем большего
					</h2>
				</div>
			</div>

			<div class="services__slider swiper">
				<div class="swiper-wrapper">
					<div class="service-card swiper-slide">
						<h3 class="service-card__title">
							Корпоративное право и сделки M&A
						</h3>

						<p class="service-card__text">
							Нами накоплен обширный опыт структурирования и сопровождения сложных сделок, связанных со слияниями и
							приобретениями –
							как по российскому праву, так и с использованием иностранного права.
						</p>

						<ul class="service-card__list list-reset">
							<li class="service-card__item">
								Структурирование сделки;
							</li>
							<li class="service-card__item">
								Сопровождение на этапе подготовки и подписания первичных документов по сделке;
							</li>
							<li class="service-card__item">
								Полная юридическая проверка объекта сделки (legal due diligence);
							</li>
							<li class="service-card__item">
								Подготовка, переговоры и согласование обязывающей документации по сделке;
							</li>
							<li class="service-card__item">
								Сопровождение подписания и закрытия сделки;
							</li>
							<li class="service-card__item">
								Сопровождение в post-completion вопросах.
							</li>
						</ul>
					</div>
					<div class="service-card swiper-slide">
						<h3 class="service-card__title">
							Корпоративное право и сделки M&A
						</h3>

						<p class="service-card__text">
							Нами накоплен обширный опыт структурирования и сопровождения сложных сделок, связанных со слияниями и
							приобретениями –
							как по российскому праву, так и с использованием иностранного права.
						</p>

						<ul class="service-card__list list-reset">
							<li class="service-card__item">
								Структурирование сделки;
							</li>
							<li class="service-card__item">
								Сопровождение на этапе подготовки и подписания первичных документов по сделке;
							</li>
							<li class="service-card__item">
								Полная юридическая проверка объекта сделки (legal due diligence);
							</li>
							<li class="service-card__item">
								Подготовка, переговоры и согласование обязывающей документации по сделке;
							</li>
							<li class="service-card__item">
								Сопровождение подписания и закрытия сделки;
							</li>
							<li class="service-card__item">
								Сопровождение в post-completion вопросах.
							</li>
						</ul>
					</div>
					<div class="service-card swiper-slide">
						<h3 class="service-card__title">
							Корпоративное право и сделки M&A
						</h3>

						<p class="service-card__text">
							Нами накоплен обширный опыт структурирования и сопровождения сложных сделок, связанных со слияниями и
							приобретениями –
							как по российскому праву, так и с использованием иностранного права.
						</p>

						<ul class="service-card__list list-reset">
							<li class="service-card__item">
								Структурирование сделки;
							</li>
							<li class="service-card__item">
								Сопровождение на этапе подготовки и подписания первичных документов по сделке;
							</li>
							<li class="service-card__item">
								Полная юридическая проверка объекта сделки (legal due diligence);
							</li>
							<li class="service-card__item">
								Подготовка, переговоры и согласование обязывающей документации по сделке;
							</li>
							<li class="service-card__item">
								Сопровождение подписания и закрытия сделки;
							</li>
							<li class="service-card__item">
								Сопровождение в post-completion вопросах.
							</li>
						</ul>
					</div>
					<div class="service-card swiper-slide">
						<h3 class="service-card__title">
							Корпоративное право и сделки M&A
						</h3>

						<p class="service-card__text">
							Нами накоплен обширный опыт структурирования и сопровождения сложных сделок, связанных со слияниями и
							приобретениями –
							как по российскому праву, так и с использованием иностранного права.
						</p>

						<ul class="service-card__list list-reset">
							<li class="service-card__item">
								Структурирование сделки;
							</li>
							<li class="service-card__item">
								Сопровождение на этапе подготовки и подписания первичных документов по сделке;
							</li>
							<li class="service-card__item">
								Полная юридическая проверка объекта сделки (legal due diligence);
							</li>
							<li class="service-card__item">
								Подготовка, переговоры и согласование обязывающей документации по сделке;
							</li>
							<li class="service-card__item">
								Сопровождение подписания и закрытия сделки;
							</li>
							<li class="service-card__item">
								Сопровождение в post-completion вопросах.
							</li>
						</ul>
					</div>
					<div class="service-card swiper-slide">
						<h3 class="service-card__title">
							Корпоративное право и сделки M&A
						</h3>

						<p class="service-card__text">
							Нами накоплен обширный опыт структурирования и сопровождения сложных сделок, связанных со слияниями и
							приобретениями –
							как по российскому праву, так и с использованием иностранного права.
						</p>

						<ul class="service-card__list list-reset">
							<li class="service-card__item">
								Структурирование сделки;
							</li>
							<li class="service-card__item">
								Сопровождение на этапе подготовки и подписания первичных документов по сделке;
							</li>
							<li class="service-card__item">
								Полная юридическая проверка объекта сделки (legal due diligence);
							</li>
							<li class="service-card__item">
								Подготовка, переговоры и согласование обязывающей документации по сделке;
							</li>
							<li class="service-card__item">
								Сопровождение подписания и закрытия сделки;
							</li>
							<li class="service-card__item">
								Сопровождение в post-completion вопросах.
							</li>
						</ul>
					</div>
					<div class="service-card swiper-slide">
						<h3 class="service-card__title">
							Корпоративное право и сделки M&A
						</h3>

						<p class="service-card__text">
							Нами накоплен обширный опыт структурирования и сопровождения сложных сделок, связанных со слияниями и
							приобретениями –
							как по российскому праву, так и с использованием иностранного права.
						</p>

						<ul class="service-card__list list-reset">
							<li class="service-card__item">
								Структурирование сделки;
							</li>
							<li class="service-card__item">
								Сопровождение на этапе подготовки и подписания первичных документов по сделке;
							</li>
							<li class="service-card__item">
								Полная юридическая проверка объекта сделки (legal due diligence);
							</li>
							<li class="service-card__item">
								Подготовка, переговоры и согласование обязывающей документации по сделке;
							</li>
							<li class="service-card__item">
								Сопровождение подписания и закрытия сделки;
							</li>
							<li class="service-card__item">
								Сопровождение в post-completion вопросах.
							</li>
						</ul>
					</div>
				</div>

				<div class="services__inner">
					<button class="button-show-more btn-reset">
						Показать полностью
					</button>

					<div class="services__arrows">
						<div class="swiper-button-prev"></div>
						<div class="swiper-button-next"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>