<section class="section">
	<div class="container">
		<div class="single-team">
			<div class="single-team__content">
				<div class="section-header">
					<a class="link link--reverse link--bg-transparent link-reset" href="#">
						<span>Команда</span>
						<div class="link__arrow"></div>
					</a>
				</div>
				<h1 class="single-team__title">
					Дмитрии Кайсин
				</h1>
				<p class="single-team__descr">
					Партнер, адвокат, соруководитель практики разрешения споров, адвокат с 2007 г
				</p>

				<div class="single-team__inner">
					<div class="team-languages">
						<h2 class="team-languages__title">
							Языки
						</h2>
						<div class="tags">
							<span class="tags__item">Русский</span>
							<span class="tags__item">Английский</span>
							<span class="tags__item">Испанский</span>
						</div>
					</div>
					<div class="team-contacts">
						<a class="team-contacts__phone link-reset" href="tel:+7 (495) 139 93 00">
							+7 (495) 139 93 00
						</a>
						<a class="team-contacts__mail link-reset" href="mailto:dkaysin@asari.legal">
							dkaysin@asari.legal
						</a>
						<a class="link link-reset" href="#">
							Сохранить контакт
						</a>
					</div>
				</div>

				<div class="team-specializations tags">
					<span class="tags__item">Международный арбитраж</span>
					<span class="tags__item">Судебные разбирательства</span>
					<span class="tags__item">Третейские разбирательства</span>
					<span class="tags__item">Международные судебные процессы</span>
					<span class="tags__item">Разрешение коммерческих споров</span>
				</div>

				<p class="single-team__text">
					Дмитрий специализируется в области международного арбитража, международных и российских судебных
					разбирательств.
					<br><br>
					Обладает более чем двадцатилетним опытом участия в третейских разбирательствах по правилам ключевых
					региональных и
					отраслевых арбитражных институтов Европы, Азии, Америки, ЮНСИТРАЛ, а также имеет опыт представления интересов
					и
					арбитрирования споров в российских третейских судах.
				</p>

			</div>

			<div class="single-team__img">
				<img src="@img/team/single-img.webp" alt="Дмитрии Кайсин">
			</div>

		</div>
	</div>
</section>