<section class="section section--single-expertise" style="background-image: url('@img/expertise/img-4.webp');">
	<div class="container">
		<div class="single-expertise">
			<div class="section-header section-header--reverse section-header--column">
				<a class="link link--reverse link--bg-transparent link-reset" href="#">
					<span>Экспертиза</span>
					<div class="link__arrow"></div>
				</a>
			</div>
			<div class="single-expertise__wrap">
				<h1 class="single-expertise__title">
					Корпоративная практика
				</h1>
				<p class="single-expertise__text">
					Основные направления нашей работы по вопросам корпоративного права включают сопровождение крупных M&A-сделок
					(high
					market), реструктуризацию бизнеса и активов, а также консультирование по вопросам корпоративного права и
					управления в
					различных секторах экономики.
					<br><br>
					Мы также консультируем доверителей по общим коммерческим и корпоративным вопросам.
				</p>
			</div>
		</div>
	</div>
</section>