<section class="section">
	<div class="container">
		<div class="spollers">
			<details class="spoller">
				<summary class="spoller__header">
					<span class="spoller__title">Старший юрист</span>
					<div class="spoller__actions">
						<a class="link link--bg-transparent link-reset" href="#">Подробнее</a>
						<span class="spoller__icon"></span>
					</div>
				</summary>
				<div class="spoller__content">
					<p class="spoller__text">
						Старший юрист с практикой в арбитражах и консультировании бизнеса.
						<br>
						Ценим экспертизу, лидерские качества и
						умение
						находить нестандартные решения.
					</p>
					<div class="tags">
						<span class="tags__item">
							Судебные споры
						</span>
						<span class="tags__item">
							Международный арбитраж
						</span>
						<span class="tags__item">
							Налоговое право
						</span>
					</div>
				</div>
			</details>
			<details class="spoller">
				<summary class="spoller__header">
					<span class="spoller__title">Открыть</span>
					<span class="spoller__icon"></span>
				</summary>
				<div class="spoller__content">
					<p class="spoller__text">
						Текстик для раскрытия
					</p>
				</div>
			</details>
			<details class="spoller">
				<summary class="spoller__header">
					<span class="spoller__title">Открыть</span>
					<span class="spoller__icon"></span>
				</summary>
				<div class="spoller__content">
					<p class="spoller__text">
						Текстик для раскрытия
					</p>
				</div>
			</details>
		</div>
	</div>
</section>