<section class="section">
	<div class="container">
		<div class="team">
			<div class="section-header">
				<div class="headlines">
					<h2 class="headlines__title">
						Достигаем большего
					</h2>
					<h3 class="headlines__subtitle">
						Вместе с лучшими
					</h3>
				</div>
				<div class="section-header__inner">
					<p class="section-header__text">
						Подтверждаем экспертизу <br>наградами и мировыми рейтингами
					</p>
				</div>
			</div>
			<a class="team__link link link-reset" href="/page-team.html">
				<span>Команда</span>
				<div class="link__arrow"></div>
			</a>

			<div class="team__slider swiper">
				<div class="swiper-wrapper">
					<a class="team-card swiper-slide link-reset" href="#/">
						<div class="team-card__inner">
							<img class="team-card__img" src="@img/team/img-1.webp" alt="">
							<img class="team-card__img team-card__img--hover" src="@img/team/img-3-hover.webp" alt="">
						</div>
						<div class="team-card__texts">
							<h4 class="team-card__title">
								Илья Рыбалкин
							</h4>
							<span class="team-card__text">
								Партнер, Адвокат
							</span>
						</div>
					</a>
					<a class="team-card swiper-slide link-reset" href="#/">
						<div class="team-card__inner">
							<img class="team-card__img" src="@img/team/img-2.webp" alt="">
							<img class="team-card__img team-card__img--hover" src="@img/team/img-3-hover.webp" alt="">
						</div>
						<div class="team-card__texts">
							<h4 class="team-card__title">
								Илья Рыбалкин
							</h4>
							<span class="team-card__text">
								Партнер, Адвокат
							</span>
						</div>
					</a>
					<a class="team-card swiper-slide link-reset" href="#/">
						<div class="team-card__inner">
							<img class="team-card__img" src="@img/team/img-3.webp" alt="">
							<img class="team-card__img team-card__img--hover" src="@img/team/img-3-hover.webp" alt="">
						</div>
						<div class="team-card__texts">
							<h4 class="team-card__title">
								Илья Рыбалкин
							</h4>
							<span class="team-card__text">
								Партнер, Адвокат
							</span>
						</div>
					</a>
					<a class="team-card swiper-slide link-reset" href="#/">
						<div class="team-card__inner">
							<img class="team-card__img" src="@img/team/img-4.webp" alt="">
							<img class="team-card__img team-card__img--hover" src="@img/team/img-3-hover.webp" alt="">
						</div>
						<div class="team-card__texts">
							<h4 class="team-card__title">
								Илья Рыбалкин
							</h4>
							<span class="team-card__text">
								Партнер, Адвокат
							</span>
						</div>
					</a>
					<a class="team-card swiper-slide link-reset" href="#/">
						<div class="team-card__inner">
							<img class="team-card__img" src="@img/team/img-5.webp" alt="">
							<img class="team-card__img team-card__img--hover" src="@img/team/img-3-hover.webp" alt="">
						</div>
						<div class="team-card__texts">
							<h4 class="team-card__title">
								Илья Рыбалкин
							</h4>
							<span class="team-card__text">
								Партнер, Адвокат
							</span>
						</div>
					</a>
					<a class="team-card swiper-slide link-reset" href="#/">
						<div class="team-card__inner">
							<img class="team-card__img" src="@img/team/img-6.webp" alt="">
							<img class="team-card__img team-card__img--hover" src="@img/team/img-3-hover.webp" alt="">
						</div>
						<div class="team-card__texts">
							<h4 class="team-card__title">
								Илья Рыбалкин
							</h4>
							<span class="team-card__text">
								Партнер, Адвокат
							</span>
						</div>
					</a>
				</div>

				<div class="team__inner">
					<a class="link link--width-small link-reset" href="/page-team.html">
						<span>Показать полностью</span>
					</a>

					<div class="team__arrows">
						<div class="swiper-button-prev"></div>
						<div class="swiper-button-next"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>