<section class="section">
	<div class="container">
		<div class="vacancy">
			<div class="vacancy__wrap">
				<div class="section-header section-header--reverse section-header--column">
					<div class="headlines">
						<h2 class="headlines__title">
							Вакансия
						</h2>
						<h3 class="headlines__subtitle">
							Старший юрист
						</h3>
					</div>
					<a class="link link--reverse link--bg-transparent link-reset" href="#">
						<span>Карьера</span>
						<div class="link__arrow"></div>
					</a>
				</div>

				<div class="vacancy-card">
					<div class="vacancy-card__inner">
						<span class="vacancy-card__subtitle">Город:</span>
						<p class="vacancy-card__text">
							Москва
						</p>
					</div>
					<div class="vacancy-card__inner">
						<span class="vacancy-card__subtitle">Требуемый опыт:</span>
						<p class="vacancy-card__text">
							3–6 лет
						</p>
					</div>
					<div class="vacancy-card__inner">
						<span class="vacancy-card__subtitle">Условия:</span>
						<p class="vacancy-card__text">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed dui semper nibh sollicitudin
							tincidunt. In sit amet
							urna a quam luctus hendrerit. Duis at volutpat purus, at luctus urna. Fusce at mauris magna. Aenean quis
							dui diam.
						</p>
					</div>
					<div class="vacancy-card__inner">
						<span class="vacancy-card__subtitle">Требования:</span>
						<p class="vacancy-card__text">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed dui semper nibh sollicitudin
							tincidunt. In sit amet
							urna a quam luctus hendrerit. Duis at volutpat purus, at luctus urna. Fusce at mauris magna. Aenean quis
							dui diam.
						</p>
					</div>

					<a class="link link-reset" href="#modal">Отправить резюме</a>
				</div>

			</div>
		</div>
	</div>
</section>