<section class="section">
	<div class="container">
		<div class="victory">
			<div class="section-header section-header--mb-85">
				<div class="headlines">
					<h2 class="headlines__title">
						Победы
					</h2>
				</div>
				<div class="section-header__inner">
					<p class="section-header__text">
						Наши партнеры и советники занимают
						<br> топовые позиции в престижных <br>
						международных и российских
						рейтингах:
					</p>
				</div>
			</div>

			<div class="victory-ratings">
				<div class="victory-ratings__img">
					<img src="@img/victory-ratings/img-1.webp" alt="Рейтинг">
				</div>
				<div class="victory-ratings__img">
					<img src="@img/victory-ratings/img-2.webp" alt="Рейтинг">
				</div>
				<div class="victory-ratings__img">
					<img src="@img/victory-ratings/img-3.webp" alt="Рейтинг">
				</div>
			</div>
		</div>
	</div>
</section>